page-logout {

    #logout{
        background: color($colors, primary);
        h1{
            font-size: 10px;
            margin-top: 20px
        };
        .marginTop{ margin-top: 50px; }
        .marginSecond{ margin-top: 10px; }
    }
}

