page-welcome {
#welcome{
    background: color($colors,primary);
    h1{
        font-size: 50px;
        margin-top: 50px
    };
    .marginTop{ margin-top: 50px; }
    .marginSecond{ margin-top: 10px; }
    }

}
