page-registro {
    .background {
        background: rgba(65, 214, 182, 0.5);
    }
    .icon {
        padding-right: 10px;
    }
    .bottom {
        position: absolute;
        bottom: 0;
    }
}
